{{ define "main" }}
    <main class="site-main">
	<div class="page-description">Increasing the scientific excellence and technological innovation capacity in Functional Materials for Medical Devices and Robotics of the University of Tartu</div>
	{{ partial "summary.html" . }}
	<article>
	    <h2>The aim of Twinnims</h2>
	    <p>The aim of the project is to enhance the scientific and technological capacity of the consortium partners, with a principal focus on the University of Tartu (UTARTU), and to raise its research profile in the field of Functional Materials for Medical Devices and Robotics, in particular in the research application sub-field of minimal invasive and wearable medical robotics, that have a huge potential in terms of solving the global challenges in the quality of life and wellbeing.</p>
	    <p><a href="#"><strong>Read more</strong></a>
	    </p>
	</article>
    </main>
    {{ partial "sidebar.html" . }}
{{ end }}
