{{ define "main" }}
    <main class="site-main list-view">
	{{ if or .Title .Content }}
	    <header class="mb2">
		{{ with .Title }}<h1 class="mb1">{{ . }}</h1>{{ end }}
		{{ with .Content }}<div>{{ . }}</div>{{ end }}
	    </header>
	{{ end }}

	{{ range .Pages }}
	    <article class="mb2">
		<h2><a href="{{ .URL | relLangURL }}">{{ .Title }}</a></h2>
		<p>{{.Summary}}</p>
		<footer>☞ {{ T "publishedOn" }} <abbr title="{{.PublishDate}}"><time>{{.PublishDate.Format "02.01.2006"}}</time></abbr></footer>
	    </article>
	{{ end }}
    </main>
    {{ partial "sidebar.html" . }}
{{ end }}
