{{ define "main" }}
    <main class="site-main single-view">
	{{ with .Params.Subtitle }}
	    <div class="page-description">
		{{ . }}
	    </div>
	{{ end }}
	<h1 class="dark-blue mb1">{{ .Title }}</h1>
	<div>
	    {{ .Content }}
	</div>
	{{ with .Params.tags }}
	    <div>
		<ul id="tags">
		    {{ range . }}
			<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
		    {{ end }}
		</ul>
	    </div>
	{{ end }}
	<div>
	    {{ template "_internal/disqus.html" . }}
	</div>
	<footer>
	    <time>☞ {{ T "pageLastMod" }} {{ .Lastmod.Format "02.01.2006" }}</time>
	</footer>
    </main>
    {{ partial "sidebar.html" . }}
{{ end }}
