<header class="site-header">
    <div class="header-graphics-1"></div>
    <div class="logotype">
	<a href="{{ .Site.BaseURL }}"><img alt="{{ .Site.Title }}" src="/img/logotype@2x.png"/></a>
	<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
    {{ $currentPage := . }}
    {{ with .Site.Menus.main }}
	<nav class="site-main-navigation">
	    <ul class="list-reset">
		{{ range . }}
		    <li><a href="{{ .URL | relLangURL }}" class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}">{{ .Name }}</a></li>
		{{ end }}
		{{ if $.IsTranslated }}
		    {{ range $.Page.Translations }}
			<li class="language-menu-item"><a href="{{ .Permalink }}">{{.Lang}}</a></li>
		    {{ end }}
		{{ end }}
	    </ul>
	</nav>
	<nav class="site-main-navigation-mobile">
	    <img alt="" src="/img/menu.svg" />
	</nav>
    {{ end }}
</header>
