<header class="site-header">
    <div class="header-graphics"></div>
    <div class="logotype">
	<a href="{{ .Site.BaseURL }}"><img alt="{{ .Site.Title }}" src="/img/logotype@2x.png"/></a>
	<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
    {{ with .Site.Menus.main }}
	<nav class="site-main-navigation">
	    <ul class="list-reset">
		{{ range . }}
		    <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
		{{ end }}
	    </ul>
	</nav>
	<nav class="site-main-navigation-mobile">
	    <img alt="" src="/img/menu.svg" />
	</nav>
    {{ end }}
</header>
